$white: #fff;
$grey: #ccc;
$dark_grey: #474749;
$soft_red: #B87F7C;
$soft_yellow: #CFAE89;
$red: #7D1710;
$yellow: #A76C29 ;
$green: #655D30;
$light_yellow: #AF8240;
$brown: #8C6F37;
$dark_green: #79B041;
$light_green: #D1E4BE;
$light_pink: #FFAEE2;
$dark_pink: #FE33B1;

html, body {
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}

.aboutus-content{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-family: 'Raleway', sans-serif;

  .aboutus-content-title{
    text-align: center;
    margin: 4%;

  }

  .aboutus-content-introduction{
    width: 60%;
    text-align: justify;
    margin: auto;
    line-height: 2rem;
    color: grey;
    a{
      text-decoration: none;
      color: $red ;
      cursor: pointer;
    }
    .hidden-list{
      display: none;

    }
    .show-list{
      cursor: pointer;
      &:hover{
        .hidden-list{
          display: block;
      transition: ease 1s;
        }
      }
    }
  }
}


.aboutus-content-main-box{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 4%;
}






// Smallest device
@media (min-width: 100px) and (max-width: 575px) {




}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {


}




// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

