$white: #fff;
$grey: #ccc;
$dark_grey: #474749;
$soft_red: #B87F7C;
$soft_yellow: #CFAE89;
$red: #7D1710;
$yellow: #A76C29 ;
$green: #655D30;
$light_yellow: #AF8240;
$brown: #8C6F37;
$dark_green: #79B041;
$light_green: #D1E4BE;
$light_pink: #FFAEE2;
$dark_pink: #FE33B1;

.farming-main{
  display: flex;
  height: 100%;
}

.farming-content{
  width: 50%;
}
.farm-brand{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.farming-logo{
  display: flex;
  width: 100%;
  justify-content: center;
  img{
    width: 50%;
    height: 100%;
  }
}
.farming-title{
  text-align: center;
  margin-top: auto;
  color: $dark_green;
  .odd-color{
    color: $pink;
  }
}
.farming-info{
  width: 90%;
  text-align: center;
  margin: auto;
  .normal-text{
    margin: 5% 0 5% 0;
  }
  .light-green{
    margin: 0% 0% 5% 0%;
    color: $dark_green;
  }
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: 1.25rem;
    &:hover{
      color: inherit;
      text-decoration: inherit;
    }
  }
}
.farms-typed{
  margin-bottom: 15%;
}
#farms-typed-text{
  font-size: 2rem;
  color: $dark_green;
}
.farming-picture{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  img{
        width: 60%;
    height: 90%;
  }
}

.green-box{
  position: absolute;
  width: 30%;
  height: 40%;
  border: 8px solid #79B041;
  top: 28%;
  left: 55%;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .farming-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    img{
      width: 120%;
      height: 100%;
    }
  }
  .farming-main {
    flex-direction: column;
  }
  .farming-picture {
    width: 70%;
    margin-top: 10%;
  }
  .farming-picture img{
    display: none;
  }
  .green-box {
    position: absolute;
    width: 70%;
    height: 29%;
    border: 8px solid #79B041;
    top: 10%;
    left: 5%;
  }

  .farming-content {
    width: 100%;
  }

  .farming-brand{
    margin-top: 15%;
  }
  .farming-title {
    margin-top: 5%;
  }
  .green-box {
    display: none;
  }
}




// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .farming-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
    }
  }
  // .farming-logo img{
  //   width: 80%;
  //   height: 30%
  // }
  .farming-picture img {
    width: 90%;
  }
  .green-box {
    width: 30%;
    height: 32%;
    border: 8px solid #79B041;
    top: 36%;
    left: 60%;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1190px) and (min-width: 992px) {
  .farming-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    img{
      width: 120%;
      height: 100%;
    }
  }
  .farming-main{
    height: 85vh;
  }
  .farming-info {
    margin-top: 0%;
  }
  .farming-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .farming-picture img {
    width: 75%;
    height: 90%;
  }
  .green-box {
    position: absolute;
    width: 35%;
    height: 20%;
    border: 8px solid #79B041;
    top: 42%;
    left: 53%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}

