


.contactus-main-container{
  height: 100%;
    font-family: 'Raleway', sans-serif;

}

.contactus-banner{
  width: 100%;
  height: 40vh;
  background-color: #B87F7C;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 8%;
    color: #ffff;
  .contactus-main-title{
    width: 350px;
    font-weight: semi-bold 600;
    font-size: 3rem;
  }

  .contactus-sub-title{
    width: 400px;
    text-align: justify;
  }
}


.contactus-content{
  .contactus-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: 45vh;
    margin-top: 10%;
  }
}
.contactus-card-red-card {
  height: 280px;
  width: 280px;
  display: grid;
  grid-template-rows: 30% 20%;
  cursor: pointer;
  border: 1px solid #B87F7C;

}


.contactus-card-yellow-card {
  height: 280px;
  width: 280px;
  display: grid;
  grid-template-rows: 30% 20%;
  cursor: pointer;
  border: 1px solid #C3A27E;
}

.contactus-card-red-card{
  &:hover{
    border: 1px solid #7D1710;
    .contactus-card-info{
      display: block;
    }

    .contactus-card-img{
    animation: floaticonup 6s ease-in-out infinite;
    }
  }
}
.contactus-card-yellow-card{
  &:hover{
    border: 1px solid #A76C29;
    .contactus-card-info{
      display: block;
    }

    .contactus-card-img{
    animation: floaticonl-r 6s ease-in-out infinite;
    }
  }
}


@keyframes floaticonup {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floaticonl-r {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatex(0px);
  }
}





.contactus-card-title{
  text-align: center;
  p{
  font-size: 1.3rem;
    margin-top: 8%;
  }
}
.contactus-card-img{
  justify-content: center;
  display: flex;
  img{
    width: 50px;
    height: 50px;
    margin: auto;
  }
}



.contactus-card-info{
  text-align: center;
  margin: auto;
  display: none;
  font-weight: lighter;


}




.contactus-info-continue{
  display: flex;
  height: 80vh;
  .contactus-general-location{
    display: flex;
    width: 70%;
    .conactus-general-contact-info{
      width: 40%;
      padding-left: 7%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .contact-info-address{
        height: 100%;
        p{
          padding: 4%;
          line-height: 45px;
          color: #827C7C;
        }
      }
      .contact-info-details{
        height: 100%;
        p{
          padding: 4%;
          line-height: 45px;
          color: #827C7C;
        }
      }
    }

    .contactus-map{
      width: 50%;
    }
  }
}

.conactus-form-container{
  width: 40%;

}

#map{
  width: 100%;
  height: 400px;
  background-color: grey;
  box-shadow: -16px 16px 29px 9px rgba(0,0,0,0.51);
  margin-left: 10%;
}



/// MEDIA QUERIES

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .contactus-banner{
    padding: 0;
    .contactus-main-title{
      margin: auto;
      width: auto;
    }
    .contactus-sub-title{
      margin: auto;
      width: auto;
      height: auto;
      padding: 5%;
    }
  }
  .contactus-content .contactus-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 310px 310px 310px 310px;
    justify-items: center;
    height: 100%;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
    margin: 0%;
  }

  .contactus-card-red-card{
    margin: auto;
  }
  .contactus-card-yellow-card{
    margin: auto;
  }

  .contactus-info-continue {
    flex-direction: column;
    height: 100%;

    .contactus-general-location {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .conactus-general-contact-info{
        width: 100%;
      }

      .contactus-map{
        width: 100%;
      }
    }

  }
  .conactus-form-container {
      width: 90%;
      margin: auto;
      margin-top: 20%;
  }


  #map{
    width: 80%;
    height: 330px;
    margin: auto;
  }
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {
  .contactus-banner{
    height: 30vh;
  }
  .contactus-content .contactus-card-container {
    display: grid;
    grid-template-columns: 383px 383px;
    grid-template-rows: 310px 310px;
    justify-items: center;
    height: 70vh;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
    margin: 0%;
  }

  .contactus-card-red-card{
    margin: auto;
  }
  .contactus-card-yellow-card{
    margin: auto;
  }

  .contactus-info-continue {
    flex-direction: column;
    height: 130vh;

    .contactus-general-location {
      display: flex;
      width: 100%;
    }

  }
  .conactus-form-container {
      width: 90%;
      margin: auto;
  }


  #map{
    width: 80%;
    height: 330px;
    margin: 20%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
    .contactus-banner{
    height: 30vh;
  }
  .contactus-content .contactus-card-container {
    display: grid;
    grid-template-columns: 383px 383px;
    grid-template-rows: 310px 310px;
    justify-items: center;
    height: 70vh;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
    margin: 0%;
  }

  .contactus-card-red-card{
    margin: auto;
  }
  .contactus-card-yellow-card{
    margin: auto;
  }

  .contactus-info-continue {
    flex-direction: column;
    height: 130vh;

    .contactus-general-location {
      display: flex;
      width: 100%;
    }

  }
  .conactus-form-container {
      width: 90%;
      margin: auto;
  }


  #map{
    width: 80%;
    height: 330px;
    margin: 20%;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {

  .contactus-banner{
    height: 30vh;
  }
  .contactus-content .contactus-card-container {
    display: grid;
    grid-template-columns: 410px 410px;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    height: 45vh;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
    margin: 10%;
  }

  .contactus-card-red-card{
    margin: auto;
  }
  .contactus-card-yellow-card{
    margin: auto;
  }

  .contactus-info-continue {
    flex-direction: column;
    height: 100vh;

    .contactus-general-location {
      display: flex;
      width: 100%;
    }

  }
  .conactus-form-container {
      width: 100%;
      margin-top: 10%;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
