html, body {
  // font-family: 'Raleway', sans-serif;

}

.banner{
  .banner-info{
    padding-top: 10%;
    left: 50%;
    .logo{
      mix-blend-mode: multiply;
      margin-left: 4%;
      margin-bottom: 3%;
    }
    .title{
      background-size: fit;
      #box-lines{
        margin-left: 32px;
        margin-top: -1%;
        position: absolute;
      }
      .title-line{
        margin-right: 57%;
        bottom: 46%;
        text-align: right;

        #yellow-title{
          color: #A76C29;
        }
        #grey-title{
          color: #474749;
        }
      }
    }
    .tag-line{
      padding-left: 17%;
      padding-top: 4%;
    }
  }
}







.whychooseus{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  p{
    text-align: justify;
  }
  .whychooseus-title{
    display: flex;
    justify-content: space-around;
  }
  .whychooseus-content{
    display: flex;
    jusify-content: space-evenly;
    padding: 1%;
    .whychooseus-content-picture{
      width: 50vw;
    }
    .whychooseus-content-info{
      width: 50vw;
    }
    .whychooseus-content-info-icons{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .whychooseus-icon-box{
        display: flex;
        margin: 3%;
        .item-icon-plane {
          margin-right: 1%;
          text-align: center;
          i {
            color: #A76A66;
            width: 100px;
            height: 100px;
            border: 2px solid #A76A66;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            font-size: 3rem;
            &:hover, &:focus {
              background: #A76A66 !important;
              text-decoration: none;
              color: white;
              transition: ease 300ms;
            }
          }
        }
        .item-icon-compass {
          margin-right: 1%;
          text-align: center;
          i {
            color: #BF9D75;
            width: 100px;
            height: 100px;
            border: 2px solid #BF9D75;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            font-size: 3rem;
            &:hover, &:focus {
              background: #BF9D75 !important;
              text-decoration: none;
              color: white;
              transition: ease 300ms;
            }
            }
          }
      }
    }
  }
}




