html, body {
  font-family: 'Raleway', sans-serif;

}
.whychooseus{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  p{
    text-align: justify;
  }
  .whychooseus-title{
    display: flex;
    justify-content: space-around;
  }
  .whychooseus-content{
    display: flex;
    jusify-content: space-evenly;
    padding: 1%;
    .whychooseus-content-slideshow{
      width: 50vw;
      display: grid;
    }
    .whychooseus-content-info{
      width: 50vw;
    }
    .whychooseus-content-info-icons{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .whychooseus-icon-box{
        display: grid;
          margin: 3%;
          grid-template-columns: 1fr 1fr;
        .item-icon-plane {
          margin-right: 1%;
          text-align: center;
          i {
            color: #A76A66;
            width: 100px;
            height: 100px;
            border: 2px solid #A76A66;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            font-size: 3rem;
            &:hover, &:focus {
              background: #A76A66 !important;
              text-decoration: none;
              color: white;
              transition: ease 300ms;
            }
          }
        }
        .item-icon-compass {
          margin-right: 1%;
          text-align: center;
          i {
            color: #BF9D75;
            width: 100px;
            height: 100px;
            border: 2px solid #BF9D75;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            font-size: 3rem;
            &:hover, &:focus {
              background: #BF9D75 !important;
              text-decoration: none;
              color: white;
              transition: ease 300ms;
            }
            }
          }
      }
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .whychooseus-title{
    padding: 3%;
  }
  .whychooseus-content{
    flex-direction: column;
    .whychooseus-content-slideshow{
      width: 100vw !important;
    }
    .whychooseus-content-info{
      width: 100vw !important;
      p{
        padding: 10%;
      }
      i{
        transform: scale(0.75);
      }
      h4{
        font-size: 1rem;
      }
      .whychooseus-content-info-icons p{
        padding: 5%;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {

  .whychooseus-content-info{
    p{
      padding: 3%;
    }
    i{
      transform: scale(0.75);
    }
    h4{
      transform: scale(0.8);
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .whychooseus-content-info{
    p{
      padding: 3%;
    }
    i{
      transform: scale(0.75);
    }
    h4{
      transform: scale(0.8);
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .whychooseus-content-info{
    p{
      padding: 3%;
    }
    i{
      transform: scale(0.9);
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .program-top h1 {
    transform: scale(1);
  }
}




