<div id="compactsuv_modal" class="modal fade" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="modal-content">
        <div id="compactsuv_carousel" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#compactsuv_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#compactsuv_carousel" data-slide-to="1"></li>
            <li data-target="#compactsuv_carousel" data-slide-to="2"></li>
            <li data-target="#compactsuv_carousel" data-slide-to="3"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588866782/RAV4-a.jpg" crop="fill" alt="Los Angeles" width="750" height="540">
              <div class="carousel-caption">
                <h3>RAV 4</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588866782/86d3f1e8a1d966e5af5be5406b00a8c9.jpg" page="2" crop="fill" alt="Los Angeles" width="750" height="540">
              <div class="carousel-caption">
                <h3>FJ Cruiser</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588866786/2020-land-rover-range-rover-evoque_100696195_h.jpg" crop="fill" alt="Los Angeles" width="750" height="540">
              <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
              </div>
            </div>
            <div class="carousel-item">
             <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588867005/honda-vezel-front-side-0-512210.jpg", page="4" crop="fill" alt="Los Angeles" width="750" height="540">
              <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
              </div>
            </div>
          </div>
          <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
