
<div class="form-container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <div class="row header">
    <h1>CONTACT US &nbsp;</h1>
    <h3>Fill out the form below to get in touch!</h3>
  </div>
  <div class="row body">
    <form action="https://formspree.io/mqkyqklb" method="POST">
      <ul>

        <li>
          <p class="left">
            <label>
              Your email:
              <input type="text" name="_replyto">
            </label>
          </p>
        </li>
        <li><div class="divider"></div></li>
        <li>
          <label>
            Your message:
            <textarea name="message"></textarea>
          </label>
        </li>

        <li>
         <button type="submit">Send</button>
        </li>

      </ul>
    </form>
  </div>
</div>

<!--

  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label> -->

  <!-- your other form fields go here -->
<!--
  <button type="submit">Send</button>
</form>
 -->
