<div id="push">
  <footer <div class="footer navbar-fixed-bottom"></div>
    <div class="footer-container">
      <nav>
        <div class="banner-left">
          <p>© 2020 Africarriers  Limited</p>
        </div>

      </nav>
    </div>
  </footer>
</div>
