<div class="aboutus-container">
  <div class="aboutus-banner">
    <div class="aboutus-banner-title">
      <h1>ABOUT US</h1>
    </div>
  </div>

  <div class="aboutus-content">
    <div class="aboutus-content-title">
      <h1>Building a sustainable Future</h1>
    </div>
    <div class="aboutus-content-main-box">
      <div class="aboutus-content-individual-box img-first" >
        <div class="content-box-image" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-left" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562942/aboutus1.jpg">
        </div>
        <div class="content-box-story">
          <p>Africarriers group is one of tanzania’s largest home grown coorporations. Our hard – earned reputation for excellent business practices and quality services has allowed us to flourish for over four decades. </p>
        </div>
      </div>

      <div class="aboutus-content-individual-box img-second">
        <div class="content-box-story">
          <p>Based in Dar es Saalam we are strategically headquartered to serve in key regions on the African continent and beyond. </p>
        </div>
        <div class="content-box-image" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-right" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562934/aboutus2.jpg">
        </div>
      </div>

      <div class="aboutus-content-individual-box img-first">
        <div class="content-box-image" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-left" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562932/aboutus3.png">
        </div>
        <div class="content-box-story">
          <p>Over the years we have continued to contributed towards the growth of Tanzania delivering quality goods and services in all our industries. From construction, to logistics, to vehicle sales we have thrived to deliver exellence. </p>
        </div>
      </div>

      <div class="aboutus-content-individual-box img-second">
        <div class="content-box-story">
          <p>Africarriers Group is one of tanzania’s largest home grown coorporations. Our hard – earned reputation for excellent business practices and quality services has allowed us to flourish for over four decades. </p>
        </div>
        <div class="content-box-image" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-right" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562938/aboutus4.jpg">
        </div>
      </div>

    </div>
  </div>
</div>
