<div class="aboutus-container">
  <div class="aboutus-banner">
    <div class="aboutus-banner-title">
      <h1>ABOUT US</h1>
    </div>
  </div>

  <div class="aboutus-content">
    <div class="aboutus-content-title">
      <h1>Building a sustainable Future</h1>
    </div>
    <div class="aboutus-content-introduction">
      <p>Africarriers Group started business in 1976, a pioneer of the automobile industry in Tanzania, we are currently one of the largest motor traders in East Africa. Since then, diversification has been a major factor in our group’s philosophy. Everyday for the past 40 years we have strived to continuously deliver exceptional products and services to our clients and partners, the wider community and our own people. Our unique approach towards business helps create a better Africa, for everyone.</p>

      <p>Today the group’s activities include:</p>
      <ul>
        <li class="show-list"><b>Autombile trading</b>
          <ul class="hidden-list" style="list-style-type:circle;">
            <li>Sole Distributor of Eicher Vehicles</li>
            <li>Sole Distribuotr of Golde Dragon Vehicles</li>
          </ul>
        </li>
        <li><b>Logistics</b> - HDV leasing and subcontracting.</li>
        <li><b>Real estate</b> - Development, sales & rentals.</li>
        <li><b>Manufacturing</b> - Manufacturing & distribution.</li>
        <li><b>Farming</b> - Hydroponic farming & mass distribtion.</li>
      </ul>
    </div>
    <div class="aboutus-content-main-box" id="timeline">
      <div class="aboutus-content-individual-box img-first" >
        <div class="content-box-image"  data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-left" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562942/aboutus1.jpg">
        </div>
        <div class="timeline-number">
          <h4 class="number-red"> 1 </h4>
        </div>
        <div class="content-box-story">
          <p>Africarriers group is one of tanzania’s largest home grown coorporations. Our hard – earned reputation for excellent business practices and quality services has allowed us to flourish for over four decades. </p>
        </div>
      </div>

      <div class="aboutus-content-individual-box img-second column-reverse">
        <div class="content-box-story">
          <p>Based in Dar es Saalam we are strategically headquartered to serve in key regions on the African continent and beyond. </p>
        </div>
        <div class="timeline-number space-right">
          <h4 class="number-yellow"> 2 </h4>
        </div>
        <div class="content-box-image" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-right" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562934/aboutus2.jpg">
        </div>
      </div>

      <div class="aboutus-content-individual-box img-first">
        <div class="content-box-image" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-left" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562932/aboutus3.png">
        </div>
        <div class="timeline-number">
          <h4 class="number-red"> 3 </h4>
        </div>
        <div class="content-box-story">
          <p>Over the years we have continued to contributed towards the growth of Tanzania delivering quality goods and services in all our industries. From construction, to logistics, to vehicle sales we have thrived to deliver exellence. </p>
        </div>
      </div>

      <div class="aboutus-content-individual-box img-second column-reverse">
        <div class="content-box-story">
          <p>Africarriers Group is one of tanzania’s largest home grown coorporations. Our hard – earned reputation for excellent business practices and quality services has allowed us to flourish for over four decades. </p>
        </div>
        <div class="timeline-number space-right">
          <h4 class="number-yellow"> 4 </h4>
        </div>
        <div class="content-box-image" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="aboutusimg img-right" src="https://res.cloudinary.com/durtng53m/image/upload/v1587562938/aboutus4.jpg">
        </div>
      </div>

    </div>
  </div>
</div>
