<div class="farming-main">
  <div class="farming-content">
    <div class="farm-brand">
      <div class="farming-logo">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592402201/Screenshot_2020-06-17_at_17.38.56.png" alt="">
      </div>
      <!-- <div class="farming-title">
        <h2>
          Afri
          <span style="letter-spacing: -8px; opacity: 50%;" class="odd-color">F</span>
          <span style="letter-spacing: 0px;" class="odd-color">F</span>arms
        </h2>
      </div> -->

    </div>
    <div class="farming-info">
      <p class="normal-text">
        Africarriers groups latest venture, AfriFarms. The company has built indoor farms to create the perfect environment for plants and foods, reducing the unpredictability from changing climates. By giving plants everything they need, we are getting back what we need. The artificial control of temperature, light, humidity, and gases helps us reduce the impact on the environment whilst helping us grow more, faster & cleaner. <br><br>

        Our produce is the next evolution in farming. Every crop planted in one of our farms is precisely cared for, without any pesticides. By controlling the entire process, we ensure quality and efficiency  every step of the way. The world is experiencing an unprecedented population growth and coupled with high the rate of urbanisation into major cities AfriFarms is helping fight food insecurity by providing clean, reliable, non GMO produce to Africa & the world.<br><br></p>
      <div class="farms-typed">
        <p>
          <span id="farms-typed-text"></span>
        </p>
      </div>
    </div>

  </div>
  <div class="farming-picture">
    <img src="https://res.cloudinary.com/durtng53m/image/upload/v1590864478/unnamed.jpg" alt="">
    <div class="green-box"></div>
  </div>
</div>
