<div class="csr-main">
  <div class="csr-banner">
    <div class="csr-banner-image">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1590732571/pexels-photo-886521.jpg" alt="">
    </div>
    <div class="csr-banner-title">
      <p>Corporate Social Responsibility</p>
    </div>
  </div>

  <div class="intro-para">
    <p>At Africarriers we have inherited a strong and long lasting ambition to help make the world a better place. We strive to constantly understand the ever changing world we live in, puting the phrase 'Kutoa nyuma' at the heart of everything we do. To consolidate our csr efforts in 2019 we set up The FNR foundation, named afer our founder Mr Fida Hussain Noorali Rashid. The foundation focuses its efforts in 3 major categories; <b>Education</b>, <b id="yellow-text">Environment</b> & <b>Poverty eliviation</b>.</p>
  </div>

  <div class="csr-sections">
    <div class="csr-section" id="education">
      <div class="section-content">
        <div class="csr-section-title" id="left-align">
          <p>EDUCATION</p>
        </div>
        <div class="csr-section-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec posuere urna. In pretium lectus ac ultrices ultricies. Maecenas fringilla tristique risus, nec placerat dui fermentum at. Mauris nec augue sed sem aliquet porttitor vel ac tortor. Phasellus in magna tortor. In hac habitasse platea dictumst. Donec neque tellus, venenatis at ornare id, pharetra sed odio. Donec pulvinar leo sed nunc placerat elementum. Morbi a velit lorem. Nulla facilisi. Nunc suscipit tellus in eleifend vulputate. Etiam neque quam, hendrerit id sodales eu, dictum sit amet massa. Aliquam facilisis orci erat, non ultrices lorem ullamcorper at. Donec sagittis at turpis at pellentesque.</p>
        </div>
      </div>

      <div class="section-svg" id="education-svg">
        <svg height="480pt" viewBox="0 0 480 480" width="480pt" xmlns="http://www.w3.org/2000/svg">
          <path d="m85.65625 274.34375-21.65625-21.65625v-36.6875h-16v36.6875l-21.65625 21.65625 11.3125 11.3125 10.34375-10.34375v12.6875h16v-12.6875l10.34375 10.34375zm0 0" fill="#c6c5ca"/><path class="big-bulb" d="m424 176c.015625 44.5-24.625 85.34375-64 106.078125v29.921875h-112v-29.921875c-52.019531-27.445313-76.476562-88.554687-57.761719-144.3125 18.714844-55.761719 75.085938-89.738281 133.132813-80.242187 58.046875 9.492187 100.65625 59.660156 100.628906 118.476562zm0 0" fill="#ffd422"/>
          <path d="m56 72c0 13.253906-10.746094 24-24 24s-24-10.746094-24-24 10.746094-24 24-24 24 10.746094 24 24zm0 0" fill="#ffa733"/>
          <path class="big-bulb" d="m256 376h96c0 17.671875-14.328125 32-32 32h-32c-17.671875 0-32-14.328125-32-32zm0 0" fill="#898890"/>
          <path class="big-bulb" d="m352 344c8.824219.027344 15.972656 7.175781 16 16-.066406 8.808594-7.191406 15.933594-16 16h-96c-8.824219-.027344-15.972656-7.175781-16-16 .066406-8.808594 7.191406-15.933594 16-16zm0 0" fill="#acabb1"/>
          <path class="big-bulb" d="m360 312c8.824219.027344 15.972656 7.175781 16 16-.066406 8.808594-7.191406 15.933594-16 16h-112c-8.824219-.027344-15.972656-7.175781-16-16 .066406-8.808594 7.191406-15.933594 16-16zm0 0" fill="#c6c5ca"/><path d="m80 472h-40v-35.359375c.03125-21.636719 14.5-40.589844 35.359375-46.320313l41.761719-11.359374 34.878906 29.039062 34.878906-29.039062 41.761719 11.359374c20.859375 5.730469 35.328125 24.683594 35.359375 46.320313v35.359375zm0 0" fill="#B87F7C"/><path d="m186.878906 378.960938-34.878906 29.039062-34.878906-29.039062 10.878906-2.960938v-22.480469c14.832031 8.640625 33.167969 8.640625 48 0v22.480469zm0 0" fill="#ffdaaa"/><path d="m200 291.601562v20.398438c.007812 17.136719-9.144531 32.972656-24 41.519531-14.832031 8.640625-33.167969 8.640625-48 0-3.636719-2.070312-6.972656-4.625-9.921875-7.597656-9.042969-8.964844-14.117187-21.1875-14.078125-33.921875v-20.398438c15.109375 7.027344 31.378906 11.230469 48 12.398438 16.621094-1.167969 32.890625-5.371094 48-12.398438zm0 0" fill="#ffdaaa"/><path d="m256 216-48 18.480469-56 21.519531-56-21.519531-48-18.480469 104-40zm0 0" fill="#acabb1"/><path d="m208 234.480469v53.519531s-3.039062 1.519531-8 3.601562c-15.109375 7.027344-31.378906 11.230469-48 12.398438-16.621094-1.167969-32.890625-5.371094-48-12.398438-4.960938-2.082031-8-3.601562-8-3.601562v-53.519531l56 21.519531zm0 0" fill="#898890"/><path d="m176 353.519531v8c-14.832031 8.640625-33.167969 8.640625-48 0v-8c14.832031 8.640625 33.167969 8.640625 48 0zm0 0" fill="#f2ca96"/><path d="m72 432h16v40h-16zm0 0" fill="#7D1710"/><path d="m216 432h16v40h-16zm0 0" fill="#7D1710"/>

          <path d="m296 0h16v32h-16zm0 0" fill="#ff9811"/><path d="m173.894531 57.210938 11.3125-11.316407 22.628907 22.628907-11.316407 11.3125zm0 0" fill="#ff9811"/><path d="m400.164062 283.480469 11.3125-11.3125 22.628907 22.628906-11.316407 11.3125zm0 0" fill="#ff9811"/><path d="m448 168h32v16h-32zm0 0" fill="#ff9811"/><path d="m400.164062 68.523438 22.628907-22.625 11.3125 11.3125-22.628907 22.628906zm0 0" fill="#ff9811"/><path d="m328 200h-.566406c-2.316406-.167969-4.445313-1.335938-5.832032-3.199219l-17.601562-23.464843-17.601562 23.464843c-1.386719 1.863281-3.515626 3.03125-5.832032 3.199219-2.308594.148438-4.574218-.699219-6.222656-2.328125l-32-32 11.3125-11.3125 25.480469 25.480469 18.464843-24.640625c1.574219-1.914063 3.921876-3.019531 6.398438-3.019531s4.824219 1.105468 6.398438 3.019531l18.464843 24.625 25.480469-25.480469 11.3125 11.3125-32 32c-1.5 1.5-3.535156 2.34375-5.65625 2.34375zm0 0" fill="#ddb200"/><path d="m154.34375 133.65625-53.65625-53.65625h-20.6875v-16h24c2.121094 0 4.15625.84375 5.65625 2.34375l56 56zm0 0" fill="#ee8700"/><!-- <g fill="#ffa733"><path d="m0 120h16v16h-16zm0 0"/><path d="m32 120h32v16h-32zm0 0"/><path d="m400 400h80v16h-80zm0 0"/><path d="m400 432h80v16h-80zm0 0"/><path d="m400 464h16v16h-16zm0 0"/><path d="m432 464h48v16h-48zm0 0"/></g> -->
        </svg>

      </div>
    </div>

    <div class="csr-section" id="environment">

      <div class="section-svg" id="environment-svg">
        <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
          <g><path d="m392.173 223.478c0-75.132-60.966-136.039-136.171-136.039-75.19-.001-136.018 60.635-136.174 135.751-.096 46.149 22.813 86.955 57.91 111.62 21.256 14.939 33.744 39.417 33.744 65.38v.313h89.036v-.311c0-26.26 13.022-50.626 34.428-65.866 34.638-24.661 57.227-65.117 57.227-110.848z" fill="#fedf30"/><path d="m256.001 87.439c-5.153 0-10.235.294-15.238.849 68.046 7.556 120.964 65.195 120.964 135.19 0 45.731-22.589 86.187-57.227 110.849-21.406 15.241-34.428 39.607-34.428 65.866v.311h30.446v-.311c0-26.26 13.022-50.625 34.428-65.866 34.638-24.662 57.227-65.118 57.227-110.849 0-75.132-60.966-136.038-136.172-136.039z" fill="#fac600"/><path d="m276.624 512h-41.248c-4.819 0-8.725-3.906-8.725-8.725v-24.287h58.698v24.287c0 4.819-3.906 8.725-8.725 8.725z" fill="#baafb9"/><path d="m254.903 478.988v24.287c0 4.819-3.906 8.725-8.725 8.725h30.446c4.819 0 8.725-3.906 8.725-8.725v-24.287z" fill="#aa9ea9"/>
          <g><path class="inner-leaf" d="m251.194 317.548-43.712-43.697c-27.902-27.893-27.902-73.125 0-101.018l43.712-43.697c2.655-2.654 6.958-2.654 9.613 0l43.712 43.697c27.902 27.893 27.902 73.125 0 101.018l-43.712 43.697c-2.655 2.654-6.959 2.654-9.613 0z" fill="#22b37f"/>

            <path d="m270.422 244.22-6.811 6.809v-9.062l17.573-17.567c2.973-2.972 2.974-7.791.002-10.764-2.972-2.974-7.791-2.974-10.764-.002l-6.811 6.808v-17.492c0-4.204-3.408-7.611-7.612-7.611s-7.611 3.408-7.611 7.611v27.687l-6.811-6.809c-2.972-2.971-7.792-2.971-10.764.002s-2.971 7.792.002 10.764l17.573 17.567v9.063l-6.811-6.809c-2.972-2.971-7.792-2.971-10.764.002s-2.971 7.792.002 10.764l17.573 17.567v30.545 6.244 80.965c0 4.204 3.408 7.611 7.611 7.611s7.612-3.408 7.612-7.611v-80.965-6.244-40.741l17.573-17.567c2.973-2.972 2.974-7.791.002-10.764-2.972-2.972-7.791-2.973-10.764-.001z" fill="#02905d"/></g>
            <g><path class="shine" d="m256 51.631c-4.204 0-7.611-3.408-7.611-7.611v-36.409c0-4.203 3.407-7.611 7.611-7.611s7.612 3.408 7.612 7.611v36.409c0 4.203-3.408 7.611-7.612 7.611z" fill="#fedf30"/></g>
            <g><path class="shine" d="m166.346 75.658c-2.63 0-5.189-1.365-6.599-3.807l-18.204-31.531c-2.102-3.641-.855-8.296 2.786-10.397 3.64-2.103 8.296-.855 10.397 2.786l18.204 31.531c2.102 3.641.855 8.296-2.786 10.397-1.198.692-2.507 1.021-3.798 1.021z" fill="#fedf30"/></g>
            <g><path class="shine" d="m100.695 141.294c-1.291 0-2.6-.329-3.799-1.021l-31.531-18.204c-3.641-2.102-4.888-6.757-2.786-10.397 2.102-3.641 6.757-4.889 10.397-2.786l31.531 18.204c3.641 2.102 4.888 6.757 2.786 10.397-1.409 2.441-3.967 3.807-6.598 3.807z" fill="#fedf30"/></g>
            <g><path class="shine" d="m76.677 230.954h-36.408c-4.204 0-7.611-3.408-7.611-7.611 0-4.204 3.408-7.611 7.611-7.611h36.408c4.204 0 7.611 3.408 7.611 7.611.001 4.203-3.407 7.611-7.611 7.611z" fill="#fedf30"/></g>
            <g><path class="shine" d="m471.731 230.954h-36.408c-4.204 0-7.612-3.408-7.612-7.611 0-4.204 3.408-7.611 7.612-7.611h36.408c4.204 0 7.611 3.408 7.611 7.611s-3.407 7.611-7.611 7.611z" fill="#fedf30"/></g>
            <g><path class="shine" d="m411.305 141.294c-2.63 0-5.189-1.365-6.599-3.807-2.102-3.641-.855-8.296 2.786-10.397l31.531-18.204c3.641-2.102 8.296-.855 10.397 2.786 2.102 3.641.855 8.296-2.786 10.397l-31.531 18.204c-1.198.692-2.507 1.021-3.798 1.021z" fill="#fedf30"/></g>
            <g><path class="shine" d="m345.654 75.658c-1.291 0-2.6-.329-3.799-1.021-3.641-2.102-4.888-6.757-2.786-10.397l18.204-31.531c2.102-3.64 6.757-4.889 10.397-2.786 3.641 2.102 4.888 6.757 2.786 10.397l-18.203 31.53c-1.41 2.442-3.969 3.808-6.599 3.808z" fill="#fedf30"/>
            </g><path d="m300.518 439.746h-89.036c-7.231 0-13.094-5.856-13.094-13.081v-13.081c0-7.224 5.862-13.081 13.094-13.081h89.036c7.231 0 13.093 5.856 13.093 13.081v13.081c.001 7.224-5.862 13.081-13.093 13.081z" fill="#baafb9"/><path d="m300.531 400.503h-17.365c0 13.265-10.754 24.019-24.019 24.019h-60.758v2.129c0 7.231 5.862 13.094 13.094 13.094h89.036c7.231 0 13.093-5.862 13.093-13.093v-13.068c0-7.224-5.857-13.081-13.081-13.081z" fill="#aa9ea9"/><path d="m300.518 478.988h-89.036c-7.231 0-13.094-5.857-13.094-13.081v-13.081c0-7.224 5.862-13.081 13.094-13.081h89.036c7.231 0 13.093 5.857 13.093 13.081v13.081c.001 7.224-5.862 13.081-13.093 13.081z" fill="#baafb9"/><path d="m300.531 439.746h-17.365c0 13.265-10.754 24.019-24.019 24.019h-60.758v2.129c0 7.231 5.862 13.094 13.094 13.094h89.036c7.231 0 13.093-5.862 13.093-13.093v-13.068c0-7.225-5.857-13.081-13.081-13.081z" fill="#aa9ea9"/>
          </g>
        </svg>
      </div>
      <div class="section-content">
        <div class="csr-section-title" id="right-align">
          <p>ENVIRONMENT</p>
        </div>
        <div class="csr-section-info" id="right-align-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec posuere urna. In pretium lectus ac ultrices ultricies. Maecenas fringilla tristique risus, nec placerat dui fermentum at. Mauris nec augue sed sem aliquet porttitor vel ac tortor. Phasellus in magna tortor. In hac habitasse platea dictumst. Donec neque tellus, venenatis at ornare id, pharetra sed odio. Donec pulvinar leo sed nunc placerat elementum. Morbi a velit lorem. Nulla facilisi. Nunc suscipit tellus in eleifend vulputate. Etiam neque quam, hendrerit id sodales eu, dictum sit amet massa. Aliquam facilisis orci erat, non ultrices lorem ullamcorper at. Donec sagittis at turpis at pellentesque.</p>
        </div>
      </div>
    </div>

    <div class="csr-section" id="poverty">
      <div class="section-content">
        <div class="csr-section-title" id="left-align">
          <p>ECONOMIC UPLIFTMENT</p>
        </div>
        <div class="csr-section-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec posuere urna. In pretium lectus ac ultrices ultricies. Maecenas fringilla tristique risus, nec placerat dui fermentum at. Mauris nec augue sed sem aliquet porttitor vel ac tortor. Phasellus in magna tortor. In hac habitasse platea dictumst. Donec neque tellus, venenatis at ornare id, pharetra sed odio. Donec pulvinar leo sed nunc placerat elementum. Morbi a velit lorem. Nulla facilisi. Nunc suscipit tellus in eleifend vulputate. Etiam neque quam, hendrerit id sodales eu, dictum sit amet massa. Aliquam facilisis orci erat, non ultrices lorem ullamcorper at. Donec sagittis at turpis at pellentesque.</p>
        </div>
      </div>

      <div class="section-svg"  id="poverty-svg">

      <?xml version="1.0" encoding="UTF-8"?>
        <svg width="237px" height="255px" viewBox="0 0 237 255" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g id="Desktop-HD-Copy" transform="translate(-589.000000, -2185.000000)"  stroke-width="4">
                  <g id="Page-1" transform="translate(591.000000, 2187.000000)">
                      <g class="stems" stroke="#CFAE89">
                        <path class="main-stem" d="M133.4414,160.118 L133.4414,31.451" id="Stroke-7"></path>
                        <path class="outer-stems" style="-webkit-transition-delay: 2s;
        transition-delay: 2s;" d="M133.4416,146.522 L72.3706,85.451" id="Stroke-15"></path>
                        <path class="outer-stems" d="M133.8455,146.522 194.9165,85.451" id="Stroke-13"></path>
                    </g>
                      <g class="leaves">
                        <path d="M133.4414,98.0008 C133.4414,98.0008 185.4414,78.0008 133.4414,0.0008 C81.4414,78.0008 133.4414,98.0008 133.4414,98.0008" id="Stroke-1"></path>
                        <path d="M159.3208,121.0467 C159.3208,121.0467 200.5998,139.3927 215.5058,64.8617 C140.9748,79.7687 159.3208,121.0467 159.3208,121.0467" id="Stroke-3"></path>
                        <path d="M107.9663,121.0467 C107.9663,121.0467 66.6873,139.3927 51.7813,64.8617 C126.3123,79.7687 107.9663,121.0467 107.9663,121.0467" id="Stroke-5"></path>
                        <g class="leaves-detail">
                          <path d="M90.75,103.8309 L90.75,90.9489" id="Stroke-9"></path>
                          <path d="M175.25,103.8309 L175.25,90.9489" id="Stroke-11"></path>
                          <path d="M77.4316,104.8309 L90.3126,104.8309" id="Stroke-23"></path>
                          <path d="M147.0195,56.3377 L133.4415,69.9157" id="Stroke-25"></path>
                          <path d="M141.5762,43.1444 L133.4412,51.2794" id="Stroke-27"></path>
                          <path d="M119.8633,56.3377 L133.4413,69.9157" id="Stroke-17"></path>
                          <path d="M125.3066,43.1444 L133.4416,51.2794" id="Stroke-19"></path>
                          <path d="M175.25,104.8309 L188.131,104.8309" id="Stroke-21"></path>
                        </g>
                      </g>
                      <g class="hand">
                        <polyline class="sleeve" id="Stroke-29" points="0 176.951 39 176.951 39 250.451 0 250.451"></polyline>
                        <path d="M39,191.201 C39,191.201 47,192.701 48.5,193.451 C50,194.201 58.25,190.951 70,186.701 C81.75,182.451 79.126,179.451 90.313,179.951 C101.5,180.451 103.176,180.201 109.963,182.201 C116.75,184.201 119.75,185.701 128,185.701 C136.25,185.701 145,183.951 154.5,182.201 C164,180.451 164.818,179.937 165.75,179.896 C169,179.753 174.5,178.201 176.5,183.701 C178.5,189.201 178.25,194.118 175.25,197.451" id="Stroke-31"></path>
                        <path d="M225,199.5516 C225,189.5336 219.25,187.9506 213,187.4356 C206.75,186.9196 198.25,191.9506 189.75,195.1176 C181.25,198.2836 163.75,200.4506 156.553,202.2006 C149.355,203.9506 141.25,205.9506 129.374,208.7006 C117.498,211.4506 122,208.9506 106.5,213.7006 C91,218.4506 92.25,217.4506 92.25,217.4506" id="Stroke-33"></path>
                        <path class="mud" d="M64.0483,188.6473 C70.1213,172.4103 98.5983,160.1183 132.8343,160.1183 C167.8373,160.1183 196.8373,172.9633 202.0113,189.7403" id="Stroke-35"></path>
                        <path d="M144.0479,227.5828 C150.0479,226.5828 158.0479,223.9168 164.3809,221.5828 C170.7149,219.2498 188.2499,212.3678 197.9169,208.7838 C207.5839,205.2008 222.4169,200.9028 224.9999,199.5518 C227.5839,198.2008 233.4169,201.9508 232.9999,211.7008 C232.9999,211.7008 200.4999,223.7008 190.7499,227.4508 C180.9999,231.2008 175.9999,233.2008 168.9999,236.4448 C161.9999,239.6888 151.7499,241.2008 151.7499,241.2008 L146.4999,241.2008 C141.2499,241.2008 109.4999,236.2008 108.7499,235.7008 C107.9999,235.2008 78.4999,231.9508 67.7499,231.7008 C56.9999,231.4508 38.9999,235.4508 38.9999,235.7008" id="Stroke-37"></path>
                      </g>
                  </g>
              </g>
          </g>
        </svg>


      </div>
    </div>
  </div>
</div>


<script>

  var section = document.querySelector('.section-svg');
  var hasEntered = false;

  window.addEventListener('scroll', (e) => {
    var shouldAnimate = (window.scrollY + window.innerHeight) >= section.offsetTop;

    if (shouldAnimate && !hasEntered) {
      hasEntered = true;

        var drawMainStem = function() {
        var paths = document.querySelectorAll('.main-stem');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = 'none';
          path.style.strokeDasharray = length + ' ' + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.transition = path.style.WebkitTransition = 'stroke-dashoffset 4s 0s ease-in-out';
          path.style.strokeDashoffset = '0';
        }
      }

      var drawStems = function() {
        var paths = document.querySelectorAll('.outer-stems');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = 'none';
          path.style.strokeDasharray = length + ' ' + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.transition = path.style.WebkitTransition = 'stroke-dashoffset 3s 1s ease-in-out';
          path.style.strokeDashoffset = '0';
        }
      }

      var drawLeaves = function() {
        var paths = document.querySelectorAll('.leaves path');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = 'none';
          path.style.strokeDasharray = length + ' ' + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.transition = path.style.WebkitTransition = 'stroke-dashoffset 4s 2.5s ease-in-out';
          path.style.strokeDashoffset = '0';
        }
      }

      drawMainStem();
      drawStems();
      drawLeaves();


      document.body.onclick = function() {
        drawMainStem();
        drawStems();
        drawLeaves();
      };
    }
  });
</script>
