<div class="csr-main">
  <div class="csr-banner">
    <div class="csr-banner-image">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1590732571/pexels-photo-886521.jpg" alt="">
    </div>
    <div class="csr-banner-title">
      <p>Corporate Social Responsibility</p>
    </div>
  </div>

  <div class="intro-para">
    <p>At Africarriers we have inherited a strong and long lasting ambition to help make the world a better place. We strive to constantly understand the ever changing world we live in, puting the phrase 'Kutoa nyuma' at the heart of everything we do. To consolidate our csr efforts in 2019 we set up The FNR foundation, named afer our founder Mr Fida Hussain Noorali Rashid. The foundation focuses its efforts in 3 major categories; <b>Education</b>, <b id="yellow-text">Environment</b> & <b>Poverty eliviation</b>.</p>
  </div>


</div>


<script>

  var section = document.querySelector('.section-svg');
  var hasEntered = false;

  window.addEventListener('scroll', (e) => {
    var shouldAnimate = (window.scrollY + window.innerHeight) >= section.offsetTop;

    if (shouldAnimate && !hasEntered) {
      hasEntered = true;

        var drawMainStem = function() {
        var paths = document.querySelectorAll('.main-stem');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = 'none';
          path.style.strokeDasharray = length + ' ' + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.transition = path.style.WebkitTransition = 'stroke-dashoffset 4s 0s ease-in-out';
          path.style.strokeDashoffset = '0';
        }
      }

      var drawStems = function() {
        var paths = document.querySelectorAll('.outer-stems');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = 'none';
          path.style.strokeDasharray = length + ' ' + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.transition = path.style.WebkitTransition = 'stroke-dashoffset 3s 1s ease-in-out';
          path.style.strokeDashoffset = '0';
        }
      }

      var drawLeaves = function() {
        var paths = document.querySelectorAll('.leaves path');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = 'none';
          path.style.strokeDasharray = length + ' ' + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.transition = path.style.WebkitTransition = 'stroke-dashoffset 4s 2.5s ease-in-out';
          path.style.strokeDashoffset = '0';
        }
      }

      drawMainStem();
      drawStems();
      drawLeaves();


      document.body.onclick = function() {
        drawMainStem();
        drawStems();
        drawLeaves();
      };
    }
  });
</script>
