<div class="banner">
  <div class="banner-info">
    <div class="logo">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1586506094/Group_17.png">
      <div></div>
    </div>
    <div class="title">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1586507170/lines.png" id="box-lines">
        <div class="title-line">
          <h1 id="yellow-title">BIG DREAMS</h1>
          <h1 id="grey-title">BIGGER IDEAS</h1>
        </div>
    </div>
    <div class="tag-line">
      <h4>
        <span id="banner-typed-text"></span>
      </h4>
    </div>
    <div class="banner-btn" onclick="scrollToBottom()">DISCOVER</div>
  </div>
</div>
<div class="welcome" id="content">
  <div class="welcome-info">
    <h2>WELCOME TO AFRICARRIERS GROUP</h2>
    <p>Africarriers Limited (Africarriers Group) is a diversified and fully integrated conglomerate. The Group started business in 1976, a pioneer of the automobile industry in Tanzania, it is currently one of the largest motor traders in East Africa. Since then, diversification has been a major factor in our group’s philosophy.<br> <br>The Group currently has operations in 6 industries with a focus on building on and for the african market in order to generate employment, prevent capital flight and provide locally produced goods for the people. <br><br>Our current interests include manufacturing, logistics, insurance, autombile repair, sales & rental, agricultural, and residential & commercial real estate with new multi-million dollar projects underway.
    </p>
  </div>
  <div class="welcome-icons">
    <div class="icons">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585854120/africa%20icon.png">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585854119/world%20icon.png">
    </div>
    <div class="icon-title">
      <h3>AFRICAN ROUTES</h3>
      <h3>GLOBAL REACH</h3>
    </div>
  </div>

</div>
<div class="industries">
  <div class="industry-title">
    <h2>OUR INDUSTRIES</h2>
  </div>
  <div class="industry-icons">
    <div class="icon" id="yellow-icon">
      <a href="/real-estate">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903880/building.png" class="industry-pics">
      </a>
        <h4>Real estate</h4>
        <p>With over 400+, view our luxery commercial & residential projects</p>
    </div>
    <div class="icon" id="red-icon">
      <a href="/real-estate">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903881/traffic-jam.png" class="industry-pics">
      </a>
      <h4>Automobile</h4>
      <p>View our catalogue of HDV, LDV, buses, vans, three-wheelers & cars.</p>
    </div>
    <div class="icon" id="yellow-icon">
      <a href="/real-estate">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903881/growth.png" class="industry-pics">
      </a>
      <h4>Agriculture</h4>
      <p>With over 4 acres of sustainable farming, see how we are feeding Africa.</p>
    </div>
    <div class="icon" id="red-icon">
      <a href="/real-estate">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903880/delivery-truck.png" class="industry-pics">
      </a>
      <h4>Logistics</h4>
      <p>With a fleet of over 300 HDV, LDV and other vehicles,, see how we move Africa.</p>
    </div>
    <div class="icon" id="yellow-icon">
      <a href="/real-estate">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903881/manufacture.png" class="industry-pics">
      </a>
      <h4>Manufacturing</h4>
      <p><b>'Made in Tanzania, Made in Africa.'</b> See how we bring world class manufactured products to our custoemrs.</p>
    </div>
  </div>
</div>
<div class="whychooseus">
  <div class="whychooseus-title">
    <h2>WHY CHOOSE US</h2>
  </div>
  <div class="whychooseus-content">
    <div class="whychooseus-content-picture">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585907287/Group_12.png" id="phone-watch">
    </div>
    <div class="whychooseus-content-info">
      <p>With 40 plus years market experience we strive to acheive the highest standard of customer care and satisfaction. This hard earned reputaion has allowed us to continue to be pioneers in our fields. With sustainabililty at the forfront of our vision Africarriers has been able to diversify its portfolio for of industires. We aim to continue to grow to become an african power house.</p>
      <div class="whychooseus-content-info-icons">
        <div class="whychooseus-icon-box">
          <div class="item-icon-plane">
              <i class="fas fa-paper-plane fa-2x"></i>
          </div>
          <div class="plane-info">
            <h4>POWERFUL SOLUTIONS</h4>
            <p>Our solution are tailored towards our clients. We strive for success.</p>
          </div>
        </div>
        <div class="whychooseus-icon-box">
          <div class="item-icon-compass">
              <i class="fas fa-drafting-compass"></i>
          </div>
          <div class="plane-info">
            <h4>SUSTAINABLE THINKING</h4>
            <p>Other think of today. We think of of today and tomorrow.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stats">

  <div class="stats-box">
    <div class="individual-stat" id="red-stat">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903887/value.png" style="width: 100px">
      <h5 class="num">10000+ Satisfied Customers</h5>
    </div>
    <div class="individual-stat" id="yellow-stat">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903886/crm_1.png" style="width: 100px">
      <h5>5000+ Team memebers</h5>
    </div>
    <div class="individual-stat" id="red-stat">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585903886/countdown.png" style="width: 100px">
      <h5>40+ Years Experience</h5>
    </div>
    <div class="individual-stat" id="yellow-stat">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1585918724/prototype_1_1.png" style="width: 100px">
      <h5>Industries Leaders</h5>
    </div>
  </div>
</div>






<script type="text/javascript">
  $(".num").counterUp({delay:10, time:1000})
</script>

<script type="text/javascript">
  var elmnt1 = document.getElementById("content");


  function scrollToBottom() {
    elmnt1.scrollIntoView({behavior: "smooth"}); // Bottom
  }
</script>
