<div class="leadership-main-container">
  <div class="leadership-title">
    <p>Our Team</p>
  </div>
  <div class="leadership-cards-box">

    <div class="flip-card" id="card1"  >
      <div class="flip-card-inner">
        <div class="leadership-card red-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1595846649/unnamed__6_-removebg-preview.png">
          </div>
          <div class="leadership-card-info" >
            <div class="leadership-info-name">
              <p>FIDA HUSSEIN RASHID</p>
            </div>
            <div class="leadership-info-job">
              <p>Founder, Group Chairman & MD</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back red-back " id="card1back">
          <p></p>
        </div>
      </div>
    </div>

    <div class="flip-card" id="card2" onclick="flipCard2()">
      <div class="flip-card-inner">
        <div class="leadership-card yellow-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1595846674/WhatsApp_Image_2020-07-09_at_08-removebg-preview.png">
          </div>
          <div class="leadership-card-info">
            <div class="leadership-info-name">
              <p>MUSTAFA RASHID</p>
            </div>
            <div class="leadership-info-job">
              <p>VP & Director of Finance</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back yellow-back ">

        </div>
      </div>
    </div>

    <div class="flip-card" id="card3" onclick="flipCard3()">
      <div class="flip-card-inner">
        <div class="leadership-card red-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1596634001/Screenshot_2020-08-05_at_16-removebg-preview.png">
          </div>
          <div class="leadership-card-info">
            <div class="leadership-info-name">
              <p>RAZA PIRBHAI</p>
            </div>
            <div class="leadership-info-job">
              <p>Cheif Executive Officer</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back red-back">

        </div>
      </div>
    </div>

    <div class="flip-card" id="card4" onclick="flipCard4()">
      <div class="flip-card-inner">
        <div class="leadership-card yellow-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1594126326/ctbbb1dzazofisbcrexv.png">
          </div>
          <div class="leadership-card-info">
            <div class="leadership-info-name">
              <p>DR. TELHA ISMAIL</p>
            </div>
            <div class="leadership-info-job">
              <p>Head of Finance</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back yellow-back">

        </div>
      </div>
    </div>


    <div class="flip-card" id="card6" onclick="flipCard6()">
      <div class="flip-card-inner">
        <div class="leadership-card yellow-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1596434188/WhatsApp_Image_2020-07-31_at_19-removebg-preview.png">
          </div>
          <div class="leadership-card-info">
            <div class="leadership-info-name">
              <p>VINCENT NGAILE</p>
            </div>
            <div class="leadership-info-job">
              <p>Head of Business Development</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back yellow-back">

        </div>
      </div>
    </div>


    <!-- <div class="flip-card" id="card8" onclick="flipCard8()">
      <div class="flip-card-inner">
        <div class="leadership-card yellow-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1594126321/wpxns4shmjqqvlht9qcc.png">
          </div>
          <div class="leadership-card-info">
            <div class="leadership-info-name">
              <p>MOHAMED LADHA</p>
            </div>
            <div class="leadership-info-job">
              <p>Head of Sales</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back yellow-back">

        </div>
      </div>
    </div> -->

    <!-- <div class="flip-card" id="card9" onclick="flipCard9()">
      <div class="flip-card-inner">
        <div class="leadership-card red-leader-card flip-card-front">
          <div class="leadership-card-picture">
            <img class="leader-pic" src="https://res.cloudinary.com/durtng53m/image/upload/v1596549882/WhatsApp_Image_2020-08-04_at_15-removebg-preview_1.png">
          </div>
          <div class="leadership-card-info">
            <div class="leadership-info-name">
              <p>JUMA MARCELINO</p>
            </div>
            <div class="leadership-info-job">
              <p>Head of Administrative Services</p>
            </div>
          </div>
        </div>

        <div class="flip-card-back red-back">

        </div>
      </div>
    </div> -->

  </div>
</div>



<script type="text/javascript">

var card1 = document.getElementById('card1');

card1.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card2 = document.getElementById('card2');

card2.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card3 = document.getElementById('card3');

card3.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card4 = document.getElementById('card4');

card4.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card5 = document.getElementById('card5');

card5.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card6 = document.getElementById('card6');

card6.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card7 = document.getElementById('card7');

card7.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card8 = document.getElementById('card8');

card8.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});
var card9 = document.getElementById('card9');

card9.addEventListener('click', function() {
    if (!this.classList.contains('turn')) {
        this.classList.remove('off');
        this.classList.add('turn');
    } else {
        this.classList.remove('turn');
        this.classList.add('off');
    }
});


</script>
