<div class="logistics-main">
  <div class="logistics-info">
    <div class="info-logo">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1590836547/Screenshot_2020-05-30_at_15.02.15.png" alt="">
    </div>
    <div class="tag-line">
      <p>
        <span id="lth-typed-text"></span>
      </p>
    </div>
    <div class="info-content">
      <p>Under our logistics subsidiary LTH ltd, formerly known as Leisure Tours & Holiday limited & before that, Hertz Tanzania, we have been ‘moving Africa’ for over 3 decades.
     Starting off as a retail rental company, Hertz Tanzania is Tanzania’s oldest and biggest vehicle rental agency. <br> In 2008 the company diversified its portfolio to from retail rentals to cater for the growing need for the growing needs of our commercial clients as well as leasing & full logistics options to our clients. Today LTH offers a wide range of transport and logistics solutions with its fleet of over 300 light and heavy duty vehicles that help the movement of goods and people across Tanzania & beyond.
    </p>
      <p class="green">Find out more <a href="www.lth.co.tz"><u>www.lth.co.tz</u></a></p>
    </div>
    <div class="info-icons">
      <a href="mailto:info@leisuretours.co.tz" class="text-white"><i class="fa fa-envelope-square fa-2x green"></i></a>
      <a href="https://www.linkedin.com/in/lth.tz/" class="text-white"><i class="fab fa-linkedin fa-2x yellow"></i></a>
      <a href="https://www.instagram.com/lth.tz/" class="text-white"><i class="fab fa-facebook fa-2x green"></i></a>
      <a href="https://www.facebook.com/lth.tz/" class="text-white"><i class="fab fa-instagram fa-2x yellow"></i></a>
    </div>
  </div>

  <div class="logistics-picture">
    <img src="https://res.cloudinary.com/durtng53m/image/upload/v1590828760/pexels-photo-2199293.jpg" alt="">
    <div class="yellow-box" data-aos="fade-left"></div>
  </div>

</div>
