<div class="manufacturing-main">
  <div class="manufacturing-info">
    <div class="info-logo">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1602597181/Screenshot_2020-10-13_at_16.48.43.png" alt="">
    </div>
    <div class="tag-line">
      <p>
        <span id="lth-typed-text"></span>
      </p>
    </div>
    <div class="info-content">
      <p>A robust manufacturing sector is broadly understood as a fundamental path to economic growth and development. Since 2017 the group sought to bring the manufacturing of world class products to the African Continent.
     Through our manufacturing subsidiary Inhemeter Tanzania, we have been producing a wide range of products.. The key boon of manufacturing is that it absorbs large swaths of workers and places them into productive and decent paying jobs. <br>
    </p>
      <p class="green">Find out more <a href="www.http://inhemetertz.com"><u>www.inhemetertz.com</u></a></p>
    </div>
    <div class="info-icons">
      <a href="mailto:info@leisuretours.co.tz" class="text-white"><i class="fa fa-envelope-square fa-2x green"></i></a>
      <a href="https://www.linkedin.com/in/lth.tz/" class="text-white"><i class="fab fa-linkedin fa-2x yellow"></i></a>
      <a href="https://www.facebook.com/lth.tz/  " class="text-white"><i class="fab fa-facebook fa-2x green"></i></a>
      <a href="https://www.instagram.com/lth.tz/" class="text-white"><i class="fab fa-instagram fa-2x yellow"></i></a>
    </div>
  </div>

  <div class="manufacturing-picture">
    <img src="https://res.cloudinary.com/durtng53m/image/upload/v1603032184/20190709173412_6916.jpg" alt="">
    <div class="yellow-box" data-aos="fade-left"></div>
  </div>

</div>
