// Home page banner
.banner{
  background-image: url("https://res.cloudinary.com/durtng53m/image/upload/v1585853173/Screenshot_2020-04-01_at_15.16_1_1.png");
  background-size: cover;
  height: 80vh;
  color: #eee;
  .banner-info{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 65%;
    height: 100%;


    .logo{
      mix-blend-mode: multiply;
      margin-left: 4%;
      margin-bottom: 3%;
      animation: floatlogo 6s ease-in-out infinite;
      img{
        height: 90%;
      }
    }
    .title{
      background-size: fit;
      #box-lines{
        margin-left: 32px;
        margin-top: -1%;
        position: absolute;
      }
      .title-line{
        bottom: 46%;
        text-align: right;
        h1{
          padding: 0;
        }

        #yellow-title{
          color: #A76C29;
        }
        #grey-title{
          color: #474749;
        }
      }
    }
    .tag-line{
      padding-left: 17%;
      padding-top: 4%;
    }
  }
}

.js-typed {
  display: flex;
  justify-content: center;
}

/// float logo animation
@keyframes floatlogo {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner{
    height: 122vh;
  }
  .banner-info {
    display: grid;
    height: 100%;
    margin-left: 4% !important;
    margin-right: 14%;
    grid-template-columns: 275px;
    grid-template-rows: 230px 185px 110px 80px;
    padding-top: 25% !important;
    justify-items: start;
    .logo{
      margin-top: 5%;
    }
    .title-line {
      margin-right: 0% !important;
      padding-top: 10px;
    }
    .banner .banner-info .tag-line {
      padding-left: 30%;
      padding-top: 4%;
    }

  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {
  .banner-info {
    display: grid;
    height: 100%;
    margin-left: 4% !important;
    margin-right: 14%;
    grid-template-columns: 275px;
    grid-template-rows: 250px 150px 140px 80px;
    padding-top: 14% !important;
    justify-items: start;
    .logo{
      margin-top: 5%;
    }
    .title-line {
      margin-right: 0% !important;
    }

  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .banner-info {
    display: grid;
    height: 100%;
    margin-left: 4% !important;
    margin-right: 14%;
    grid-template-columns: 275px;
    grid-template-rows: 250px 150px 140px 80px;
    padding-top: 14% !important;
    justify-items: start;
    .logo{
      margin-top: 5%;
    }
    .title-line {
      margin-right: 0% !important;
    }

  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .banner-info {
    display: grid;
    height: 100%;
    margin-left: 4% !important;
    margin-right: 20%;
    grid-template-columns: 275px;
    grid-template-rows: 225px 130px 80px 80px;
    padding-top: 25% !important;
    justify-items: start;
  }
  .title-line {
    margin-right: 0% !important;
    padding-top: 10px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner-info {
    display: grid;
    height: 100%;
    margin-left: 65% !important;

    grid-template-columns: 270px;
    grid-template-rows: 210px 125px 80px 80px;
    justify-items: start;
  }
  .title-line {
    margin-right: 0% !important;
  }
}



// About us banner

.aboutus-banner{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/65566/pexels-photo-65566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 55vh;
  color: #eee;
  display: flex;
  justify-content: start;
  .aboutus-banner-title{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    filter: blur(-38px);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px){
  .aboutus-banner {
    height: 25vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px){
  .aboutus-banner {
    height: 35vh;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .aboutus-banner {
    height: 35vh;
  }

}
