.navbar-afri{
  background-color: transparent;
  transition: 0.5s background-color ease;
  justify-content: space-between;
  text-decoration: none;
  .nav-item {
    text-decoration: none;
    p {
      text-decoration: none;
      margin: 0 0 0 35px;
      color: gray;
      cursor: pointer;
    }
  }
}

.navbar-brand{
  width: 65px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-afri-white {
  background-color: white;

  .nav-item {
    text-decoration: none;
    p {
      text-decoration: none;
      margin: 0 0 0 35px;
      color: gray;
      cursor: pointer;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  text-decoration: none;
  p {
    text-decoration: none;
    margin: 0 0 0 35px;
    color: white;
  }
}

.nav-main-items {
  margin-top: 3px;
  li {
    display: inline-block;
    i{
      color: #A45D58;
    }
  }
}

.fa-user {
  a {
    text-decoration: none;
  }
}

#navbar-two-white {
  background-color: white;
  position: sticky;
}

.dropdown-menu {
  background-colour: none !important;
  a {
    text-align: center !important;
    margin: 0 0 0 0 !important;
  }
}

.nav-item dropdown{
  a{
  colour: white ;
  }
}
.black {
  color: gray !important;
}

#nav-logo{
  background-blend-mode: multiply;
}

.banner-right li {
    display: inline-block;
    a {
      text-decoration: none;
      color: white !important;
      margin-right: 50px;
    }
  }
